

.js-loading {
	background-position: 50%;
	background-image: url("/assets/loader.gif");
	background-repeat: no-repeat;
	animation: loader 1s;
	animation-delay: 0.5s;
	background-size: 0%;
	animation-fill-mode: forwards;

	background-color: var(--main-bg-colour);
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media all and (prefers-color-scheme: dark) {
	:root {
		--main-bg-colour: #0f0f0f
	}

	#text, h2 {
		color: #ddd;
	}
}

@media not all and (prefers-color-scheme: dark) {
	:root {
		--main-bg-colour: #fff;
	}

	body {
		color: #333;
	}
}

@keyframes loader {
	0% { background-size: 0%; }
	100% { background-size: 9%; }
}

@keyframes fadeIn {
	0% {opacity: 0%;}
	100% {opacity: 100%;}
}


.js-loading * {
  	animation-play-state: paused !important;
}

